<html>
   <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <form action = "/result" method = "POST">
         <p>Enter information : </p>
         <p>Email ID : <input type = "text" name = "ID" /></p>
         <p>Password : <input type = "text" name = "Password" /></p>
         <p>Refresh Rate : <input type = "text" name = "RefreshRate" /></p>
         <p><input type = "submit" value = "submit" onclick="$('#loading').show();"/></p>
      </form>
      <div id="loading" style="display: none">
         <img src="{{ url_for('static', filename='ajax_loader.gif')}}" alt="Loading......"/>
      </div>
   </body>
</html>